extends layout

block content
  h1 Submit a Message
  form(action='/messages', method='POST')
    label(for='content') Message:
    textarea(name='content', id='content', required)
    br
    button(type='submit') Submit
