doctype html
html
  head
    title This Message Will Self-Destruct
    link(rel='stylesheet', href='/styles.css')
  body
    header
      .header-bar
        h1 THIS MESSAGE WILL SELF-DESTUCT
    block content
